# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
Cities_df=pd.read_csv("output_data/cities.csv").drop(columns='Unnamed: 0')
Cities_df.head(5)

,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind,Country,Date
0,hasaki,35.7333,140.8333,42.80,75,20,9.22,JP,1612621413
1,puerto ayora,-0.7393,-90.3518,80.60,74,75,14.97,EC,1612621413
2,saskylakh,71.9167,114.0833,-39.30,80,50,3.94,RU,1612621187
3,atuona,-9.8000,-139.0333,79.86,78,26,22.79,PF,1612621180
4,hofn,64.2539,-15.2082,35.96,83,100,18.10,IS,1612621414

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)
locations = Cities_df[["Lat", "Lng"]].astype(float)
weights_=Cities_df['Humidity'].astype(float)

In [5]:
# Create a poverty Heatmap layer
fig = gmaps.figure(center=(45,-5),zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=weights_, 
                                 dissipating=False, max_intensity=300,
                                 point_radius = 3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
ideal_weather = Cities_df[(Cities_df['Temp']>70)
                          &(Cities_df['Wind']
                          <8)&(Cities_df['Temp']<95)&(Cities_df['Humidity']>40)
                          &(Cities_df['Humidity']<75)&(Cities_df['Cloudiness']==0)]
ideal_weather

,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind,Country,Date
29,hermanus,-34.4187,19.2345,77.00,70,0,5.01,ZA,1612621149
74,tacuarembo,-31.7333,-55.9833,74.52,54,0,2.66,UY,1612621287
92,mercedes,-34.6515,-59.4307,84.99,51,0,3.00,AR,1612621434
154,castro,-24.7911,-50.0119,72.88,57,0,1.03,BR,1612621448
182,coxim,-18.5067,-54.7600,84.87,54,0,3.42,BR,1612621455
210,kruisfontein,-34.0033,24.7314,80.01,68,0,5.99,ZA,1612621461
224,rio verde de mato grosso,-18.9181,-54.8442,82.49,57,0,4.03,BR,1612621464
273,poum,-20.2333,164.0167,80.08,68,0,4.34,NC,1612621250
400,yarada,17.6500,83.2667,73.40,73,0,3.44,IN,1612621506
435,qeshm,26.9581,56.2719,73.40,73,0,6.91,IR,1612621285
437,nong han,17.3608,103.1053,78.01,56,0,2.55,TH,1612621517

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
ideal_weather.head(2)

,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind,Country,Date
29,hermanus,-34.4187,19.2345,77.00,70,0,5.01,ZA,1612621149
74,tacuarembo,-31.7333,-55.9833,74.52,54,0,2.66,UY,1612621287

In [8]:
hotel_df=ideal_weather[['City','Country','Lat','Lng']].copy().reset_index().drop(columns='index')
hotel_df['Hotel Name']= ""
hotel_df

                        City Country      Lat       Lng Hotel Name
0                   hermanus      ZA -34.4187   19.2345
1                 tacuarembo      UY -31.7333  -55.9833
2                   mercedes      AR -34.6515  -59.4307
3                     castro      BR -24.7911  -50.0119
4                      coxim      BR -18.5067  -54.7600
5               kruisfontein      ZA -34.0033   24.7314
6   rio verde de mato grosso      BR -18.9181  -54.8442
7                       poum      NC -20.2333  164.0167
8                     yarada      IN  17.6500   83.2667
9                      qeshm      IR  26.9581   56.2719
10                  nong han      TH  17.3608  103.1053

In [9]:
#url and params
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}
  

#response = requests.get(base_url, params).json()


# use iterrows to iterate through pandas dataframe
for index,row in hotel_df.iterrows():
    params['location']= f'{row.Lat},{row.Lng}'

    # assemble url and make API request
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        hotel_df.loc[index,"Hotel Name"] = results[0]['name']

    except (KeyError, IndexError):
        pass

hotel_df

,City,Country,Lat,Lng,Hotel Name
0,hermanus,ZA,-34.4187,19.2345,Misty Waves Boutique Hotel
1,tacuarembo,UY,-31.7333,-55.9833,Hotel Orange
2,mercedes,AR,-34.6515,-59.4307,Posada del Inti Centro
3,castro,BR,-24.7911,-50.0119,CHACARA BAILLY
4,coxim,BR,-18.5067,-54.7600,Hotel Avenida
5,kruisfontein,ZA,-34.0033,24.7314,Oyster Bay House Rental
6,rio verde de mato grosso,BR,-18.9181,-54.8442,Hotel Valência
7,poum,NC,-20.2333,164.0167,Gîte kajeon
8,yarada,IN,17.6500,83.2667,Jeevan
9,qeshm,IR,26.9581,56.2719,Qeshm Kavan Hotel
10,nong han,TH,17.3608,103.1053,หนองหานรีสอร์ท

In [ ]:
requests.get(base_url, params)

In [ ]:
hotel_df

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))